.custom-slider{
    height:500px;
}
.custom-slider img{
    height:505px;
    object-fit: cover;
}
.darken-image {
    filter: brightness(65%);
}
.last-para{
    color:white;
   }
.icon{
    color:white;
}
a.last-para:hover {
    color:#19a7cd;
    text-decoration: none;
  }