/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 25, 2023, 12:41:39 AM
    Author     : Texus
*/
.colordashbord{
    background-image:
    linear-gradient(
      to top, 
      #146c94, #001C30
    )!important;
    
    height: -webkit-fill-available;
    
    
}

.navbarcolor{
     color: #fff !important;
     padding: 14px 14px 14px 14px !important;
     font-size: 17px !important;
     font-weight: bold !important;
     cursor: pointer;
     width: auto;
}

.navbarcolor.before {
  background-color: #64CCC5 !important;

}
.navbarcolor.active {
  background-color: #19a7cd !important;
  color: black !important;

}
.navbarcolor.active:hover {
  
  color: #f5f1f0!important;

}

.navbarcolor:hover{
     
     
     color: #afd3e3 !important;
}


.dashboardhr{
    color:#f5f1f0 !important;
}
.loggedout{
    margin-left: 10px !important;
}
.icondash{
    padding: 14px 14px 14px 14px !important;
}

.Coincard {
  
  background-image:
    linear-gradient(
      to right, 
      #64CCC5, #afd3e3
    )!important;
  height: 80px;
  width:180px;
  margin-left: 34px;
  
  
  background-color: #f9b234;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
      margin-top: 75px;
  
}
.coinvalue{
    font-weight: bold;
    
    margin-left: 56px;
    font-size: 30px;
    margin-bottom: 500px;
    margin-top: -28px;
    color: #146c94;
}
.headcoin{
     margin-top: -42px !important;
    /* margin-right: -60px; */
    margin-left: 70px;
    font-size: 10px !important;
    color: #000000 !important;
    font-weight: 700;
    
}
.coinicon{
    
    margin-top: 20px;
    font-size: 3rem !important;
}
.navbardah{
    background-color:white !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    z-index: 1;
}
.navuser{
    padding-left: 10px;
    margin-top: 5px;
}
.navcon{
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    flex-direction: row-reverse !important;
    align-content: center !important;
    justify-content: space-evenly !important;
}
.name{
    font-weight: bold;
    font-size: 15px;
    margin-left: auto;
    margin-top: 2px;
    color: #146c94;
    padding-left: 5px;
    
}


.ag-courses-item_link:hover.Coincard{
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(1.35);
  color: white !important;
  
}
.col10edit{
   
    width: 86% !important;
    
    margin-right: -14px !important;
    
    

}

.col11edit{
   
    width: 94% !important;
    
    margin-right: -14px !important;
    
    
    

}

.navbarcolorafter{
     color: #fff !important;
     padding: 29px 25px 25px 25px !important;
     font-size: 25px !important;
     font-weight: bold !important;
     cursor: pointer;
     width: 68px !important;
      border-radius: 12px;
    width: fit-content;
}

.navbarcolorafter.before {
  background-color: #64CCC5 !important;

}
.navbarcolorafter.active {
  background-color: #19a7cd !important;
  color: black !important;

}
.navbarcolorafter.active:hover {
  
  color: #f5f1f0!important;

}

.navbarcolorafter:hover{
     
     
     color: #afd3e3 !important;
}

.logo{
   width: 101px;
    height: 100px;
    margin-left: 53px;
    margin-top: 72px;
}
.logoafter{
    width: 60px;
    height: 60px;
    margin-left: 6px;
    
    margin-top: 58px;
}
